<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Sign Up</title>
</head>

<body>
    <div class="container mt-5 w-25">
        <form action="/user/signup" method="post">
            <div class="mb-3">
                <label for="fullName" class="form-label">Full name</label>
                <input type="text" class="form-control" name="fullName" aria-describedby="fullName" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" required>
            </div>

            <!-- Checkbox for Admin role -->
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="adminCheckbox" name="isAdmin">
                <label class="form-check-label" for="adminCheckbox">Want to be Admin?</label>
            </div>

            <button type="submit" class="btn btn-primary w-100">Submit</button>
            <div class="d-flex flex-row mt-3 align-items-center justify-content-center">
                Already an user? <a href="/user/signin" class="ms-2">Sign In</a>
            </div>
        </form>
    </div>
    <%- include('./partials/scripts.ejs') %>
</body>

</html>
