<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Sign In</title>
</head>

<body>
    <%- include('./partials/error.ejs') %>
        <div class="container mt-5 w-25">
            <form action="/user/signin" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
            <div class="d-flex flex-row mt-3 align-items-center justify-content-center">
                New user ? <a href="/user/signup" class="ms-2">Sign Up</a>
            </div>
        </div>

        <%- include('./partials/scripts.ejs') %>
</body>

</html>